<div class="container-fluid">
    <div class="row aboutus">
        <div class="col-lg-6 p-0 aboutus-pic">
            <img src="assets/img/responsive-design.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-12 col-lg-6 align-self-center align-self-center text-center aboutus-desc">
            <h4>Responsive Web Design</h4>
            <p>We create web pages that look good on all devices.</p>
        </div>
    </div>
    <div class="row aboutus">
        <div class="col-md-12 col-lg-6 align-self-center align-self-center text-center aboutus-desc">
            <h4>Globalization</h4>
            <p>We create web site that can support Japanese, English and Chinese.</p>
        </div>
        <div class="col-lg-6 p-0 aboutus-pic">
            <img src="assets/img/guangzhou_01.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row aboutus">
        <div class="col-lg-6 p-0 aboutus-pic">
            <img src="assets/img/continuous-technical-support.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-12 col-lg-6 align-self-center align-self-center text-center aboutus-desc">
            <h4>Continuous Technical Support</h4>
            <p>If you have any questions, don't hesitate to contact us. We provide continuous technical support.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row jumbotron justify-content-center">
        <div class="col-12 align-self-center text-center">
            <h2 class="display-4">Make your business greater</h2>
            <p class="lead">We build from landing pages to company website. Check what we can do for you.</p>
            <button type="button" class="btn btn-primary btn-lg">What we are doing</button>
        </div>
    </div>
</div>