<div class="container-fluid">
    <div class="row jumbotron d-flex justify-content-around px-5 mb-0">
        <div class="p-2 bd-highlight">
            <img src="assets/img/angular-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/html5-without-wordmark-color-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/javascript-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/vuejs-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/react-logo.png" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/c-sharp-logo.svg" class="tech-logo" alt="javascript">
        </div>     
        <div class="p-2 bd-highlight">
            <img src="assets/img/nodejs-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/python-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/net-logo.svg" class="tech-logo" alt="javascript">
        </div>
        <div class="p-2 bd-highlight">
            <img src="assets/img/microsoft-sql-server-logo.svg" class="tech-logo" alt="javascript">
        </div>
    </div>
</div>