.team-member img {
    width: 230px;
    height: 230px;
    border: 6px solid groove;
    border-radius: 50%;
}

.team-member {
    border: none;
}

.team-icon{
    width: 50px;
    height: 50px;
    margin: 12px;
    padding: 15%;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
}

.team-icon:hover{
    background-color: #28aefd;
}