<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="display-4">Our Team</h2>
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid p-5 mx-5">
    <div class="row pad-3">
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/stevenLi.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Nothing Special</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-secondary">Check more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/sangmin.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Nothing Special</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-secondary">Check more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/kwa.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Nothing Special</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-secondary">Check more</a>
                </div>
            </div>
        </div>
    </div>
</div>
