<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="display-4">Our Team</h2>
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid p-5 mx-5">
    <div class="row pad-3">
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/stevenLi.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Trouble Killer</h4>
                    <p class="card-text">Full Stack Developer</p>
                    <div class="row text-center px-2">
                        <a href="#"><i class="fa fa-home team-icon"></i></a>
                        <a href="https://www.facebook.com/people/Steven-Li/100012169298630"><i class="fab fa-facebook-f team-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/sangmin.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Data King</h4>
                    <p class="card-text">Full Stack Developer</p>
                    <div class="row text-center px-2">
                        <a href="https://fit-sys.net"><i class="fa fa-home team-icon"></i></a>
                        <a href="https://www.facebook.com/expressiondesign"><i class="fab fa-facebook-f team-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card team-member">
                <img src="assets/img/kwa.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Kicking Ponda</h4>
                    <p class="card-text">Full Stack Developer</p>
                    <div class="row text-center px-2">
                        <a href="https://kwa.dev/"><i class="fa fa-home team-icon"></i></a>
                        <a href="#"><i class="fab fa-facebook-f team-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
